---
apiVersion: v1
kind: Secret
metadata:
  name: {{ external_dns_credentials_secret }}
type: Opaque
data:
  credentials: |
    [default]
    aws_access_key_id = {{ dns_cloud_api_client_id | b64encode }}
    aws_secret_access_key = {{ dns_cloud_api_client_secret | b64encode }}
--