apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: {{ rook_ceph_namespace }}

resources:
- github.com/rook/rook/manifests/deploy/examples/crds.yaml?ref=v{{ rook_ceph_version }}
- github.com/rook/rook/manifests/deploy/examples/common.yaml?ref=v{{ rook_ceph_version }}
- github.com/rook/rook/manifests/deploy/examples/operator.yaml?ref=v{{ rook_ceph_version }}

patches:
- patch: |-
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: rook-ceph-operator-config
    data:
      ROOK_CSI_KUBELET_DIR_PATH: {{ rook_csi_kubelet_dir_path }}
      ROOK_ENABLE_DISCOVERY_DAEMON: "true"
