repositories:
  - name: netbird
    url: git+https://github.dev/totmicro/helms/charts?ref=main


releases:
  - name: netbird
    namespace: {{ netbird_namespace }}
    version: {{ netbird_chart_version }}
    chart: netbird/netbird
    values:
      - netbird-values.yaml

  #- name: netbird-dashboard
  #  namespace: netbird
  #  chart: netbird/netbird-dashboard