configuration: |-
    {
      "Stuns": [
        {
          "Proto": "udp",
          "URI": "stun:netbird.{{ dns_public_subdomain }}:3478",
          "Username": "",
          "Password": ""
        }
      ],
      "TURNConfig": {
        "TimeBasedCredentials": false,
        "CredentialsTTL": "12h0m0s",
        "Secret": "secret",
        "Turns": [
          {
            "Proto": "udp",
            "URI": "turn:netbird.{{ dns_public_subdomain }}:3478",
            "Username": "self",
            "Password": "ref+k8s://v1/Secret/netbird/{{ netbird_management_turn_secret }}/turn_server_password+"
          }
        ]
      },
      "Signal": {
        "Proto": "https",
        "URI": "netbird.{{ dns_public_subdomain }}:443",
        "Username": "",
        "Password": ""
      },
      "HttpConfig": {
        "AuthIssuer": "https://zitadel.{{ dns_public_subdomain }}",
        "AuthAudience": "ref+k8s://v1/Secret/netbird/{{ netbird_management_secret }}/netbird_dashboard_client_id+",
        "OIDCConfigEndpoint":"https://zitadel.{{ dns_public_subdomain }}/.well-known/openid-configuration"
        "LetsEncryptDomain": "",
        "CertFile": "",
        "CertKey": "",
        "AuthUserIDClaim": "",
        "IdpSignKeyRefreshEnabled": false
      },
      "IdpManagerConfig": {
        "ManagerType": "zitadel",
        "ClientConfig": {
          "Issuer": "https://zitadel.{{ dns_public_subdomain }}",
          "TokenEndpoint": "https://zitadel.{{ dns_public_subdomain }}/oauth/v2/token",
          "ClientID": "ref+k8s://v1/Secret/netbird/{{ netbird_management_secret }}/netbird_service_user_client_id+",
          "ClientSecret": "ref+k8s://v1/Secret/netbird/{{ netbird_management_secret }}/netbird_service_user_client_secret+",
          "GrantType": "client_credentials"
        },
        "ExtraConfig": {
            "ManagementEndpoint": "https://zitadel.{{ dns_public_subdomain }}/management/v1"
        }
      },
      "DeviceAuthorizationFlow": {
        "Provider": "hosted",
        "ProviderConfig": {
          "ClientID": "ref+k8s://v1/Secret/netbird/{{ netbird_management_secret }}/netbird_cli_client_id+",
          "ClientSecret": "",
          "Audience": "ref+k8s://v1/Secret/netbird/{{ netbird_management_secret }}/netbird_cli_client_id+",
          "TokenEndpoint": "https://authentik.example.com/application/o/token/",
          "DeviceAuthEndpoint": "https://authentik.example.com/application/o/device/",
          "AuthorizationEndpoint": "",
          "Scope": "openid",
          "UseIDToken": false,
          "RedirectURLs": null
        }
      },
      "PKCEAuthorizationFlow": {
        "ProviderConfig": {
          "ClientID": "ref+k8s://v1/Secret/netbird/{{ netbird_management_secret }}/netbird_cli_client_id+",
          "ClientSecret": "",
          "Domain": "",
          "Audience": "ref+k8s://v1/Secret/netbird/{{ netbird_management_secret }}/netbird_cli_client_id+",
          "DeviceAuthEndpoint": "",
          "Scope": "openid profile email offline_access api",
          "UseIDToken": false,
          "RedirectURLs": ["http://localhost:53000/","http://localhost:54000/"]
        }
      },
      "StoreConfig": {
        "Engine": "postgres"
      },
      "ReverseProxy": {
        "TrustedHTTPProxies": null,
        "TrustedHTTPProxiesCount": 0,
        "TrustedPeers": null
      }
    }
envRaw:
  - name: NETBIRD_STORE_ENGINE_POSTGRES_DSN
    valueFrom:
      secretKeyRef:
        name: {{ netbird_management_secret }}
        key: postgres_DSN
management:
  ingress:
    enabled: false
  ingressGrpc:
    enabled: false
  persistentVolume:
    enabled: false

  podCommand:
    xtraArgs:
      - --single-account-mode-domain=example.com
signal:
  ingress:
    enabled: false
