zitadel:
  masterkey: x123456789012345678901234567891y
  configmapConfig:
    ExternalSecure: false
    ExternalDomain: zitadel.{{ dns_public_subdomain }}
    TLS:
      Enabled: false
    Database:
      Cockroach:
        Host: zitadel-db-cockroachdb-public
        User:
          SSL:
            Mode: verify-full
        Admin:
          SSL:
            Mode: verify-full
  secretConfig:
    Database:
      Cockroach:
        User:
          Password: xyz
        Admin:
          Password: abc

  dbSslCaCrtSecret: zitadel-db-cockroachdb-ca-secret
  dbSslAdminCrtSecret: zitadel-db-cockroachdb-client-secret
  dbSslUserCrtSecret: zitadel-db-cockroachdb-zitadel-secret