zitadel:
  masterkey: x123456789012345678901234567891y
  configmapConfig:
    ExternalPort: 443
    ExternalSecure: true
    ExternalDomain: zitadel.{{ dns_public_subdomain }}
    TLS:
      Enabled: false
    FirstInstance:
      Org:
        Human:
          # use the loginname root@zitadel.zitadel.{{ dns_public_subdomain }}
          Username: 'zitadel-admin'
          Password: '#RootPassword1!'
          PasswordChangeRequired: false
    Database:
      Cockroach:
        Host: zitadel-db-cockroachdb-public
        User:
          SSL:
            Mode: verify-full
        Admin:
          SSL:
            Mode: verify-full
  secretConfig:
    Database:
      Cockroach:
        User:
          Password: xyz
        Admin:
          Password: abc

  dbSslCaCrtSecret: zitadel-db-cockroachdb-ca-secret
  dbSslAdminCrtSecret: zitadel-db-cockroachdb-client-secret
  dbSslUserCrtSecret: zitadel-db-cockroachdb-zitadel-secret