container_name: nexus
container_image: sonatype/nexus3
volume_name: nexus-data
new_admin_pw: crazypassw0rd2
proxy_repo_name: base-docker
group_repo_name: docker-group
nexus_docker_repo_listening_port: 8083
docker_group_member_list: [
  "base-docker",
  "ghcr.io-proxy",
  "quay.io-proxy",
  "k8s.gcr.io"
]
docker_proxy_repos:
  - name: "base-docker"
    url: "https://registry-1.docker.io"
    index_type: "REGISTRY"
  - name: "ghcr.io-proxy"
    url: "https://ghcr.io"
    index_type: "REGISTRY"
  - name: "quay.io-proxy"
    url: "https://quay.io/"
    index_type: "REGISTRY"
  - name: "k8s.gcr.io"
    url: "https://k8s.gcr.io/"
    index_type: "REGISTRY"

helm_proxy_repos:
  - name: "mojaloop-base"
    url: "https://mojaloop.github.io/helm/repo"
  - name: "gitlab-private"
    url: "https://gitlab-url/repo/helm"