[Unit]
Description=seaweedfs docker-compose unit
After=docker.service

[Service]
ExecStart=/usr/bin/docker compose -f {{ seaweedfs_root_dir }}/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f {{ seaweedfs_root_dir }}/docker-compose.yml down

[Install]
WantedBy=docker.service