- name: "create directory for project"
  file:
    path: "{{ vault_root_dir }}/vaultbuild"
    state: directory
    recurse: yes

- name: "create directory for certificates"
  file:
    path: "/var/www/certbot"
    state: directory
    recurse: yes
    owner: www-data
    group: www-data

- name: "deploy vault Dockerfile"
  template:
    src: "../templates/Dockerfile.j2"
    dest: "{{ vault_root_dir }}/vaultbuild/Dockerfile"
  notify: Restart Vault

- name: "deploy systemd service"
  template:
    src: "../templates/vault.service.j2"
    dest: "/etc/systemd/system/vault.service"
  notify: Restart Vault

- name: "deploy init script"
  template:
    src: "../templates/init.sh.j2"
    dest: "{{ vault_root_dir }}/vaultbuild/init.sh"
    mode: 0755
  notify: Restart Vault

- name: "deploy vault-config.hcl"
  template:
    src: "../templates/vault-config.hcl.j2"
    dest: "{{ vault_root_dir }}/vault-config.hcl"
  notify: Restart Vault

- name: "deploy docker compose file"
  template:
    src: "../templates/vault.docker-compose.yml.j2"
    dest: "{{ vault_root_dir }}/docker-compose.yml"
  notify: Restart Vault

- name: "install Nginx"
  apt:
    name: nginx
    state: present
    update_cache: yes

- name: "install Certbot and plugin for Nginx"
  apt:
    name: 
      - certbot
      - python3-certbot-nginx
    state: present
    update_cache: yes

- name: "deploy Nginx HTTP configuration file"
  template:
    src: "../templates/nginx-http.conf.j2"
    dest: "/etc/nginx/sites-available/default-http"
  notify: Reload Nginx

- name: "deploy Nginx HTTPS configuration file"
  template:
    src: "../templates/nginx-https.conf.j2"
    dest: "/etc/nginx/sites-available/default-https"
  notify: Reload Nginx

- name: "create symlink for Nginx HTTP site"
  command: ln -s /etc/nginx/sites-available/default-http /etc/nginx/sites-enabled/default-http
  args:
    removes: /etc/nginx/sites-enabled/default-http
  notify: Reload Nginx


- name: "create symlink for Nginx HTTPS site"
  command: ln -s /etc/nginx/sites-available/default-https /etc/nginx/sites-enabled/default-https
  args:
    removes: /etc/nginx/sites-enabled/default-https
  notify: Reload Nginx

- name: "obtain SSL certificate using Certbot"
  command: >
    certbot certonly --webroot -w /var/www/certbot 
    -d "{{ vault_fqdn }}" --non-interactive --agree-tos 
    --email "admin@{{ vault_fqdn }}"
  when: certbot_auto_renew | default(false) == false
  notify: Reload Nginx

- name: "setup Certbot auto-renew cron job"
  cron:
    name: "Certbot Auto Renew"
    job: "/usr/bin/certbot renew --quiet && systemctl reload nginx"
    state: present
    hour: 3
    minute: 30

- name: "set Nginx to auto start"
  systemd:
    enabled: true
    daemon_reload: true
    name: "nginx"
    state: started

- name: "set Vault to auto restart"
  systemd:
    enabled: true
    daemon_reload: true
    name: "vault"
    state: started

- name: "restart Nginx"
  service:
    name: nginx
    state: restarted
  notify: Reload Nginx