- name: Install netclient gpgkey
  get_url:
    url: https://apt.netmaker.org/gpg.key
    dest: /etc/apt/trusted.gpg.d/netclient.asc
    mode: 0777

- name: Install netclient package repo
  get_url:
    url: https://apt.netmaker.org/debian.deb.txt
    dest: /etc/apt/sources.list.d/netclient.list
    mode: 0777

- name: Update apt cache
  shell: apt update

- name: Install dependencies
  package:
    name:
      - wireguard
      - netclient={{ netmaker_image_version }}-0
    state: present

- name: set token from local file
  vars:
    query: "[?tags[0]=='{{ item }}'].token"
  set_fact:
    netmaker_join_tokens: "{{ netmaker_join_tokens + lookup('file', netmaker_enrollment_key_list_file_location) | from_json | json_query(query) | first }}"
  when: "not netmaker_join_tokens"
  loop: "{{ netclient_enrollment_keys }}"

- name: join netmaker network
  command: "netclient join -t {{ item }}"
  loop: "{{ netmaker_join_tokens }}"

- name: iptable accept on forward
  iptables:
    chain: FORWARD
    policy: ACCEPT

- name: "set netclient to auto restart"
  systemd:
    enabled: true
    daemon_reload: true
    name: "netclient"
    state: started
    force: true