{
  "userId": "{{ readonly_user.username }}",
  "firstName": "{{ readonly_user.first_name }}",
  "lastName": "{{ readonly_user.last_name }}",
  "emailAddress": "{{ readonly_user.email }}",
  "password": "{{ readonly_user.password }}",
  "status": "{{ readonly_user.status }}",
  "roles": [
    {
      "source": "default",
      "role": "nx-repository-view-docker-*-read"
    }
  ]
}
