{
  "name": "{{ helm_classic_group_name }}",
  "online": true,
  "storage": {
    "blobStoreName": "default",
    "strictContentTypeValidation": false
  },
  "group": {
    "memberNames": {{ helm_classic_proxy_repos | map(attribute='name') | list | to_json }}
  }
}