{
  "name": "{{ helm_oci_group_name }}",
  "online": true,
  "storage": {
    "blobStoreName": "default",
    "strictContentTypeValidation": true
  },
  "group": {
    "memberNames": [
      {% for repo_name, repo_url in oci_repos_dict.items() %}
      "{{ repo_name }}"{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  },
  "docker": {
    "v1Enabled": false,
    "forceBasicAuth": false,
    "httpPort": {{ helm_oci_group_port }},
    "httpsPort": null
  }
}