apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - rolearn: {{ cluster_iam_role_arn }}
      username: system:node:{% raw %}{{EC2PrivateDNSName}}{% endraw %}
      groups:
        - system:bootstrappers
        - system:nodes
  mapUsers: |
    - userarn: {{ ci_user_arn }}
      username: ci-user
      groups:
        - system:masters