[default]
aws_access_key_id = {{ eks_aws_access_key_id }}
aws_secret_access_key = {{ eks_aws_secret_access_key }}
{% if eks_aws_session_token is defined and eks_aws_session_token %}
aws_session_token = {{ eks_aws_session_token }}
{% endif %}
region = {{ eks_aws_region }}