apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-rbac-cm
  labels:
    app.kubernetes.io/name: argocd-rbac-cm
    app.kubernetes.io/part-of: argocd
data:
  policy.csv: |
    g, {{ zitadel_project_id }}:{{ argocd_admin_rbac_group }}, role:admin
    g, {{ zitadel_project_id }}:{{ argocd_readonly_rbac_group }}, role:readonly
  policy.default: ''
  policy.matchMode: glob
  scopes: '[zitadel:grants]'  