apiVersion: v1
kind: Secret
metadata:
  name: gitlab
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
{% if repo_url.endswith('.git') %}
  url: "{{ repo_url }}"    
{% else %}
  url: "{{ repo_url }}.git"
{% endif %}
  password: "{{ repo_password }}"
  username: "{{ repo_username }}"