global:
  domain: argocd.{{ argocd_domain }}
  logging:
    format: json
configs:
  cm:
    url: https://argocd.{{ argocd_domain }}
    exec.enabled: "true"
    kustomize.buildOptions: "--enable-helm --helm-kube-version 1.29-0 --load-restrictor LoadRestrictionsNone"
    application.resourceTrackingMethod: annotation
  params:
    server.insecure: "false"
    reposerver.enable.git.submodule: "false"
    # Mandatory for extensions to work
    server.enable.proxy.extension: "true"
  rbac:
    policy.default: role:readonly
    policy.csv: |-
      p, role:readonly, extensions, invoke, metrics, allow
      p, role:admin, extensions, invoke, metrics, allow
  cmp:
    create: true
    plugins:
      envsubstappofapp:
        init:
          command: ["sh", "-c"]
          args:
            [
              "kustomize build . --load-restrictor LoadRestrictionsNone -o raw-kustomization.yaml",
            ]
        generate:
          command: ["sh", "-c"]
          args:
            [
              "envsubst < raw-kustomization.yaml > processed-kustomization.yaml && cp processed-kustomization.yaml /dev/stdout",
            ]
        discover:
          fileName: "kustomization.*"
      envsubst:
        discover:
          fileName: "kustomization.*"
        generate:
          command: ["sh", "-c"]
          args:
            [
              "for f in *.yaml ; do cat $f | envsubst > $f.sub && mv $f.sub $f ; done && kustomize build . --enable-helm --helm-kube-version 1.29-0 --load-restrictor LoadRestrictionsNone > /dev/stdout",
            ]

repoServer:
  env:
    - name: HELM_CACHE_HOME
      value: /helm-working-dir
    - name: HELM_CONFIG_HOME
      value: /helm-working-dir
    - name: HELM_DATA_HOME
      value: /helm-working-dir

  volumes:
    - name: custom-tools
      emptyDir: {}
    - name: cmp-plugin
      configMap:
        name: argocd-cmp-cm
    - emptyDir: {}
          name: lovely-tmp

  initContainers:
    - name: download-tools
      image: golang:1.22.4-alpine3.20
      command: [sh, -c]
      args:
        - apk add git && go install github.com/drone/envsubst/cmd/envsubst@v1.0.3 && mv $GOPATH/bin/envsubst /custom-tools/ && wget https://gist.githubusercontent.com/enriched/11c7d81aa271b258f835620b1aca2e55/raw/2017a4202da30506b1fedc2981afed41e259fe77/in-pod-kubeconfig.sh && chmod +x in-pod-kubeconfig.sh && mv in-pod-kubeconfig.sh /custom-tools/
      volumeMounts:
        - mountPath: /custom-tools
          name: custom-tools

  extraContainers:
    - name: argocd-lovely-plugin
      image: ghcr.io/crumbhole/lovely:{{ argocd_lovely_plugin_version }}
      imagePullPolicy: IfNotPresent
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      volumeMounts:
          # Import the repo-server's pliugin binary
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
          # Starting with v2.4, do NOT mount the same tmp volume as the repo-server container. The filesystem separation helps
          # mitigate path traversal attacks.
        - mountPath: /tmp
          name: lovely-tmp
    - name: debug-tools
      image: quay.io/argoproj/argocd
      command: [sh, -c]
      args:
        - while true; do echo "running"; sleep 300; done
      volumeMounts:
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
        - mountPath: /tmp
          name: tmp

        # Important: Mount tools into $PATH
        - name: custom-tools
          subPath: envsubst
          mountPath: /usr/local/bin/envsubst
        - name: custom-tools
          subPath: in-pod-kubeconfig.sh
          mountPath: /usr/local/bin/in-pod-kubeconfig.sh
        - name: helm-working-dir
          mountPath: /helm-working-dir

    - name: envsubstappofapp
      command: [/var/run/argocd/argocd-cmp-server]
      image: quay.io/argoproj/argocd
      args: [--loglevel, debug]
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      volumeMounts:
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
        - mountPath: /tmp
          name: tmp

        # Register plugins into sidecar
        - mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: envsubstappofapp.yaml
          name: cmp-plugin

        # Important: Mount tools into $PATH
        - name: custom-tools
          subPath: envsubst
          mountPath: /usr/local/bin/envsubst

    - name: envsubst
      command: [/var/run/argocd/argocd-cmp-server]
      image: quay.io/argoproj/argocd
      args: [--loglevel, debug]
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      volumeMounts:
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
        - mountPath: /tmp
          name: tmp

        # Register plugins into sidecar
        - mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: envsubst.yaml
          name: cmp-plugin

        # Important: Mount tools into $PATH
        - name: custom-tools
          subPath: envsubst
          mountPath: /usr/local/bin/envsubst
  imagePullSecrets:
    - name: {{ registry_mirror_pull_secret_name }}
server:
  imagePullSecrets:
    - name: {{ registry_mirror_pull_secret_name }}

controller:
  imagePullSecrets:
    - name: {{ registry_mirror_pull_secret_name }}

applicationSet:
  imagePullSecrets:
    - name: {{ registry_mirror_pull_secret_name }}

redis:
  imagePullSecrets:
    - name: {{ registry_mirror_pull_secret_name }}