apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cmd-params-cm
  labels:
    app.kubernetes.io/name: argocd-cmd-params-cm
    app.kubernetes.io/part-of: argocd
data:
  server.insecure: "false"
  reposerver.enable.git.submodule: "false"
  #Enable Server-Side Diff so argocd play nicely with Kyverno mutating webhooks:
  #https://argo-cd.readthedocs.io/en/stable/user-guide/diff-strategies/#mutation-webhooks
  controller.diff.server.side: "true"