autoscaler:
  # Enabled the cluster-proportional-autoscaler
  enabled: true

  # Number of cores in the cluster per coredns replica
  coresPerReplica: 256
  # Number of nodes in the cluster per coredns replica
  nodesPerReplica: 16
  # Min size of replicaCount
  min: 1
  # Max size of replicaCount (default of 0 is no max)
  max: {{ coredns_max_scale }}
  # Whether to include unschedulable nodes in the nodes/cores calculations - this requires version 1.8.0+ of the autoscaler
  includeUnschedulableNodes: true
  # If true does not allow single points of failure to form
  preventSinglePointFailure: true
