---
apiVersion: v1
kind: Secret
metadata:
  name: gitlab-secret
  namespace: {{ external_secrets_namespace }}
  labels: 
    type: gitlab
type: Opaque 
stringData:
  token: "{{ repo_password }}"

---
apiVersion: v1
kind: Secret
metadata:
  name: vault-secret
  namespace: {{ external_secrets_namespace }}
  labels: 
    type: vault
type: Opaque 
stringData:
  token: "{{ tenant_vault_token }}"

---
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: gitlab-secret-store
spec:
  provider:
    # provider type: gitlab
    gitlab:
      url: {{ gitlab_server_url }}
      auth:
        SecretRef:
          accessToken:
            name: gitlab-secret
            namespace: {{ external_secrets_namespace }}
            key: token
      projectID: "{{ gitlab_project_id }}"
      inheritFromGroups: true

---
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: tenant-vault-secret-store
spec:
  refreshInterval: 1200
  provider:
    vault:
      server: {{ tenant_vault_server_url }}
      path: "secret"
      # Version is the Vault KV secret engine version.
      # This can be either "v1" or "v2", defaults to "v2"
      version: "v2"
      auth:
        # points to a secret that contains a vault token
        # https://www.vaultproject.io/docs/auth/token
        tokenSecretRef:
          name: vault-secret
          namespace: {{ external_secrets_namespace }}
          key: token
