apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-secrets
  namespace: {{ external_secrets_namespace }}
spec:
  template:
    spec:
      containers:
      - name: netbird-sidecar
        image: netbirdio/netbird:{{ netbird_version }}
        args:
        - '--setup-key-file'
        - /etc/nbkey
        - '-m'
        - {{ netbird_api_host }}
        env:
          - name: NB_SETUP_KEY
            valueFrom:
              secretKeyRef:
                name: netbird-setup-key
                key: token
          - name: NB_MANAGEMENT_URL
            value: {{ netbird_management_url }}
        securityContext:
          capabilities:
            add:
              - NET_ADMIN

