# kustomize build . >argocd-deploy.yaml
#
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
- github.com/argoproj/argo-cd/manifests/cluster-install?ref=v{{ argocd_version }}
- namespace.yaml
- vault-service-account-etc.yaml
- argo-gitlab.yaml
- vault-env.yaml
- netclient.yaml
- argo-oidc-secrets.yaml

patches:
- path: argocd-cm-patch.yaml
  target:
    kind: ConfigMap
    name: argocd-cm
- path: argocd-rbac-cm-patch.yaml
  target:
    kind: ConfigMap
    name: argocd-rbac-cm    
- path: argocd-lovely-plugin.yaml
  target:
    kind: Deployment
    name: argocd-repo-server
- path: argo-service-acct-patch.yaml
  target:
    kind: Deployment
    name: argocd-repo-server
    name: argocd-repo-server
- path: argocd-cmd-params-cm-patch.yaml
  target:
    kind: ConfigMap
    name: argocd-cmd-params-cm
- path: argocd-server-patch.yaml
  target:
    kind: Deployment
    name: argocd-server    