---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: netclient-gateway
  labels:
    app: netclient-gateway
spec:
  selector:
    matchLabels:
      app: netclient-gateway
  template:
    metadata:
      labels:
        app: netclient-gateway
    spec:
      hostNetwork: true
      containers:
      - name: netclient
        image: gravitl/netclient:v{{ netmaker_image_version }}
        env:
        - name: TOKEN
          valueFrom:
            secretKeyRef:
                name: netclient-token-secret
                key: TOKEN
        volumeMounts:
        - mountPath: /etc/netclient
          name: etc-netclient
        securityContext:
          privileged: true
      volumes:
      - hostPath:
          path: /etc/netclient
          type: DirectoryOrCreate
        name: etc-netclient
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: netclient
spec:
  refreshInterval: 1h

  secretStoreRef:
    kind: ClusterSecretStore
    name: gitlab-secret-store

  target:
    name: netclient-token-secret # Name for the secret to be created on the cluster
    creationPolicy: Owner

  data:
    - secretKey: TOKEN # Key given to the secret to be created on the cluster
      remoteRef: 
        key: NETMAKER_K8S_TOKEN