---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: netclient
  name: netclient-nodeport
spec:
  externalTrafficPolicy: Local
  type: NodePort
  ports:
  - port: 31821
    nodePort: 31821
    protocol: UDP
    targetPort: 31821
    name: wg-iface-31821
  selector:
    app: netclient
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: netclient
  labels:
    app: netclient
spec:
  selector:
    matchLabels:
      app: netclient
  template:
    metadata:
      labels:
        app: netclient
    spec:
      hostNetwork: true
      containers:
      - name: netclient
        image: gravitl/netclient:v{{ netmaker_image_version }}
        env:
        - name: NETCLIENT_ROAMING
          value: "no"
        - name: NETCLIENT_PORT
          value: "31821"
        - name: NETCLIENT_IS_STATIC
          value: "yes"
        - name: NETCLIENT_ENDPOINT
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        - name: TOKEN
          valueFrom:
            secretKeyRef:
                name: netclient-token-secret
                key: TOKEN
        volumeMounts:
        - mountPath: /etc/netclient
          name: etc-netclient
        securityContext:
          privileged: true
      volumes:
      - hostPath:
          path: /etc/netclient
          type: DirectoryOrCreate
        name: etc-netclient
      tolerations:
      - operator: "Exists"
        
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: netclient
spec:
  refreshInterval: 1h

  secretStoreRef:
    kind: ClusterSecretStore
    name: tenant-vault-secret-store

  target:
    name: netclient-token-secret # Name for the secret to be created on the cluster
    creationPolicy: Owner

  data:
    - secretKey: TOKEN # Key given to the secret to be created on the cluster
      remoteRef: 
        key: {{ cluster_name }}/netmaker_env_token
        property: value