issuer: https://{{ dex_fqdn }}/dex

storage:
  type: sqlite3
  config:
    file: /var/dex/dex.db

web:
  http: 0.0.0.0:5556

telemetry:
  http: 0.0.0.0:5558
  
oauth2:
  skipApprovalScreen: true

staticClients:
  - id: {{ dex_static_client_id }}
    redirectURIs:
      - http://localhost:8000  # for kubelogin
    name: '{{ dex_static_client_id }}'
    secret: ZXhhbXBsZS1hcHAtc2VjcmV0

connectors:
  - type: gitlab
    id: gitlab
    name: GitLab
    config:
      baseURL: {{ dex_oidc_issuer }}
      clientID: {{ dex_oidc_client_id }}
      clientSecret: {{ dex_oidc_client_secret }}
      redirectURI: https://{{ dex_fqdn }}/dex/callback
      groups:
      - {{ dex_oidc_admin_group }}
      useLoginAsID: false

