version: "3.7"

services:
  dex:
    image: dexidp/dex:v{{ dex_image_version }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - {{ dex_root_dir}}/dex-config.yml:/config.yml
    command: ['dex', 'serve','/config.yml']
    ports:
      - "5556:5556"