{
  "name": "docker-group",
  "online": true,
  "storage": {
    "blobStoreName": "default",
    "strictContentTypeValidation": true
  },
  "group": {
    "memberNames": {{ docker_group_member_list | to_json }}
  },
  "docker": {
    "v1Enabled": false,
    "forceBasicAuth": false,
    "httpPort": {{ nexus_docker_repo_listening_port }},
    "httpsPort": null
  }
}