apiVersion: v1
kind: Secret
metadata:
  name: "{{ setup_key_secret_name }}"
  namespace: "{{ setup_key_secret_namespace }}"
type: Opaque
data:
  "{{ gw_setup_key_secret_key }}": "{{ gw_setup_key.json.key | b64encode }}"
  "{{ build_setup_key_secret_key }}": "{{ build_server_setup_key.json.key | b64encode }}"