apiVersion: v1
kind: Secret
metadata:
  name: "{{ token_secret_name }}"
  namespace: "{{ token_secret_namespace }}"
type: Opaque
data:
  "{{ token_secret_key }}": "{{ setup_key.json.key | b64encode }}"
