provider: aws
aws:
  credentials:
    secretName: {{ external_dns_credentials_secret }}
  region: {{ dns_cloud_api_region }}
domainFilters:
  - {{ dns_public_subdomain }}
  - {{ dns_private_subdomain }}
txtOwnerId: {{ cluster_name }}
policy: sync
dryRun: false
interval: 1m
triggerLoopOnEvent: true
txtPrefix: extdns
sources:
  - service
  - ingress
  - istio-virtualservice