user = User.where(id: 1).first
user.password = '{{ server_password }}'
user.password_confirmation = '{{ server_password }}'
token = user.personal_access_tokens.where(name: 'apitoken').first
if token.nil?
    token = user.personal_access_tokens.create(scopes: [:api], name: 'apitoken')
end
token.set_token('{{ server_token }}')
token.save!
user.save!


user = User.where(id: 1).first
token = user.personal_access_tokens.where(name: 'rootapitoken').first
if token.nil?
    token = user.personal_access_tokens.create(scopes: [:api], name: 'rootapitoken', expires_at: 1.days.from_now)
end
token.set_token('cr@zyT0k#n000000-123')
token.save!
user.save!