defaults
  timeout connect 5000
  timeout client 50000
  timeout server 50000

frontend minio
  bind :{{ minio_listening_port }}
  default_backend minio

frontend nexus
  bind :{{ nexus_docker_repo_listening_port }}
  default_backend nexus

frontend vault
  mode tcp
  bind :{{ local_vault_listening_port }}
  default_backend vault

backend minio
  mode http
  http-request set-header Host {{ minio_fqdn }}
  server minio {{ minio_fqdn }}:443

backend nexus
  mode http
  http-request set-header Host {{ nexus_fqdn }}
  server nexus {{ nexus_fqdn }}:443

backend vault
  mode http
  http-request set-header Host {{ vault_fqdn }}
  server vault {{ vault_fqdn }}:443 ssl verify none
