defaults
  timeout connect 5000
  timeout client 50000
  timeout server 50000

frontend minio
  bind :{{ minio_listening_port }}
  default_backend minio

frontend nexus
  bind :{{ nexus_docker_repo_listening_port }}
  default_backend nexus

frontend vault
  mode tcp
  bind :{{ local_vault_listening_port }}
  default_backend vault


backend minio
  server minio {{ minio_fqdn }}:{{ minio_listening_port }}

backend nexus
  server nexus {{ nexus_fqdn }}:{{ nexus_docker_repo_listening_port }}

backend vault
  mode tcp
  server vault {{ vault_fqdn }}:{{ vault_listening_port }} ssl verify none