global:
  name: consul
  enabled: false
  gossipEncryption:
    autoGenerate: true
server:
  enabled: true
  storage: {{ consult_storage_size }}
  replicas: {{ consul_replicas }}
connectInject:
  enabled: false