apiVersion: v1
kind: ConfigMap
metadata:
  name: cilium-cni-configuration
  namespace: kube-system
data:
  cni-config: |-
    {
      "cniVersion": "1.0.0",
      "name": "cilium",
      "plugins": [
        {
          "type": "cilium-cni",
          "enable-debug": false,
          "log-file": "/var/run/cilium/cilium-cni.log"
        },
        {
          "type": "portmap",
          "snat": true,
          "capabilities": {"portMappings": true}
        }
      ]
    }
