# microk8s-config.yaml
---
version: 0.1.0
extraKubeletArgs:
  --cluster-domain: cluster.local
  --cluster-dns: {{ dns_bind_address }}
addons:
  - name: dns
    disable: true
  - name: registry
    disable: true
  - name: rook-ceph
    disable: true