{
  email {{ vault_acme_email }}
  acme_dns route53 { 
    access_key_id "{{ vault_aws_access_key_id }}"
    secret_access_key "{{ vault_aws_secret_access_key }}"
    region "{{ vault_region }}"
  }
}

https://{{ vault_fqdn }} {
  reverse_proxy http://vault:{{ vault_listening_port }}
}