# This is a basic Nginx configuration file

# Define the HTTP context
http {
    include       mime.types;  # Include MIME types
    default_type  application/octet-stream;

    sendfile        on;         # Enable sendfile
    keepalive_timeout  65;      # Keep-alive timeout

    # First server block for HTTP
    server {
        listen 80;
        server_name {{ vault_fqdn }};

        location /.well-known/acme-challenge/ {
            root /var/www/certbot;  # Ensure this path matches the Certbot challenge path
        }

        location / {
            proxy_pass http://vault-server:{{ vault_listening_port }};
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }

    # Second server block for HTTPS
    server {
        listen 443 ssl;
        server_name {{ vault_fqdn }};

        ssl_certificate /etc/letsencrypt/live/{{ vault_fqdn }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ vault_fqdn }}/privkey.pem;

        location / {
            proxy_pass http://vault-server:{{ vault_listening_port }};
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }
}