version: '3.6'

services:
  vault:
    build: ./vaultbuild
    container_name: vault
    restart: on-failure:10
    ports:
      - "{{ vault_listening_port }}:{{ vault_listening_port }}"
    environment:
      GITLAB_URL: "{{ vault_gitlab_url }}"
      GITLAB_TOKEN: "{{ vault_gitlab_token }}"
    cap_add:
      - IPC_LOCK
    volumes:
      - vault-volume:/vault/file
      - {{ vault_root_dir}}/vault-config.hcl:/vault/config/vault-config.hcl
    healthcheck:
      retries: 5
    command: /usr/local/bin/run-and-init.sh
volumes:
  vault-volume: {} # runtime data for vault