version: '3.6'

services:
  vault:
    image: hashicorp/vault:{{ vault_image_version }}
    container_name: vault
    restart: on-failure:10
    ports:
      - "{{ vault_listening_port }}:{{ vault_listening_port }}"
    environment:
      GITLAB_URL: "{{ vault_gitlab_url }}"
      GITLAB_TOKEN: "{{ vault_gitlab_token }}"
    cap_add:
      - IPC_LOCK
    volumes:
      - vault-volume:/data
    healthcheck:
      retries: 5
    command: ./run-and-init.sh
volumes:
  vault-volume: {} # runtime data for vault