{
  "addressrange": "{{ netmaker_control_network_address_cidr_start | ansible.utils.ipaddr('network') | ansible.utils.ipmath(ipindex) }}/{{ netmaker_control_network_address_cidr_start | ansible.utils.ipaddr('prefix') }}",
  "addressrange6": "",
  "defaultacl": "yes",
  "defaultudpholepunch": "yes",
  "isipv4": "yes",
  "isipv6": "no",
  "netid": "{{ item.key }}"
}
