{
  "addressrange": "{{ netmaker_control_network_address_range }}",
  "addressrange6": "",
  "defaultacl": "yes",
  "defaultudpholepunch": "yes",
  "isipv4": "yes",
  "isipv6": "no",
  "netid": "{{ netmaker_control_network_name }}"
}
