export argocd_appname={{ fact_argo_merged_config.apps[fact_argo_merged_config.argocd_appname].argocd_app_name }}
export argocd_app_namespace={{ fact_argo_merged_config.apps[fact_argo_merged_config.argocd_appname].app_namespace }}
export argocd_helm_version={{ fact_argo_merged_config.apps[fact_argo_merged_config.argocd_appname].sub_apps['argocd_helm'].helm_version }}
export argocd_helm_namespace={{ fact_argo_merged_config.apps[fact_argo_merged_config.argocd_appname].sub_apps['argocd_helm'].namespace }}
export argocd_helm_release={{ fact_argo_merged_config.apps[fact_argo_merged_config.argocd_appname].sub_apps['argocd_helm'].app_name }}
export argocd_subdomain={{ fact_argo_merged_config.apps[fact_argo_merged_config.argocd_appname].sub_apps['argocd_helm'].dns_public_subdomain }}
