export argocd_appname={{ argocd.apps[argocd.argocd_appname].argocd_app_name }}
export argocd_app_namespace={{ argocd.apps[argocd.argocd_appname].app_namespace }}
export argocd_helm_version={{ argocd.apps[argocd.argocd_appname].sub_apps['argocd_helm'].helm_version }}
export argocd_helm_namespace={{ argocd.apps[argocd.argocd_appname].sub_apps['argocd_helm'].namespace }}
export argocd_helm_release{{ argocd.apps[argocd.argocd_appname].sub_apps['argocd_helm'].app_name }}
export argocd_subdomain={{ argocd.apps[argocd.argocd_appname].sub_apps['argocd_helm'].dns_public_subdomain }}
