apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root-app
  namespace: {{ argocd.apps[argocd.argocd_appname].app_namespace }}

  # Add this finalizer ONLY if you want these to cascade delete (A cascade delete, deletes both the app and its resources, rather than only the app.)
  # finalizers:
  #   - resources-finalizer.argocd.argoproj.io

spec:
  project: default
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground

    automated:
      prune: true
      selfHeal: true

  source:
    repoURL: {{ argocd.gitrepo_base_url }}/{{ argocd.gitrepo_owner }}//{{ argocd.gitrepo_repo }}.git
    targetRevision: {{ argocd.apps[argocd.argocd_appname].application_gitrepo_tag }}
    path: {{ argocd.root_app_gitrepo_path }}
    plugin:
      name: envsubst
      env:
{% for item in argocd.apps | dict2items %}
{% for subapp in item.value['sub_apps'] | dict2items %}
{% for subappvalue in subapp.value | dict2items%}
        key: {{ item.key }}_{{subapp.key}}_{{subappvalue.key}}
        value: {{ subappvalue.value | to_yaml }}
{% endfor %}
{% endfor %}
{% endfor %}
  destination:
    server: "https://kubernetes.default.svc"
    namespace: {{ argocd.apps[argocd.argocd_appname].app_namespace }}

