[Unit]
Description=k6s docker-compose unit
After=docker.service

[Service]
ExecStart=/usr/bin/docker-compose -f {{ k6s_root_dir }}/{{ k6s_repo_name }}/docker-compose-monitoring.yml up
ExecStop=/usr/bin/docker-compose -f {{ k6s_root_dir }}/{{ k6s_repo_name }}/docker-compose-monitoring.yml down

[Install]
WantedBy=docker.service