GF_SECURITY_ADMIN_PASSWORD={{ central_observability_grafana_root_password }}
GF_AUTH_GITLAB_CLIENT_SECRET={{ central_observability_grafana_oidc_client_secret}}
MINIO_PASSWORD={{ mimir_minio_password }}
